.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    background-color: rgb(178, 169, 186);
    align-items: center;
    justify-content: center;
    border: 2px solid;
}

.container div {
    background-color: antiquewhite;
    display: flex;
    align-items: start;
    justify-content: center;
    border: 2px solid black;
}

.box3 {
    justify-self: end;
    align-self: end;
}