.container {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #ccc;
    background-color: beige;
}

.button {
    padding: 15px 25px;
    background-color: rgb(209, 192, 225);
    color:rgb(63, 59, 59);
    border: none; 
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}