.container {
    display: flex;
    gap: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    height: 200px;
    background-color: beige;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid;
}

.box1 {
    background-color: rgb(138, 126, 126);
    order: 2;
    flex-grow: 1;
}

.box2 {
    background-color: rgb(167, 167, 185);
    order: 1;
    flex-grow: 2;
}

.box3 {
    background-color: rgb(141, 158, 141);
    order: 3;
    flex-grow: 1;
}